@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  font-family: "Archivo Black", sans-serif;
}

#main {
  background-color: rgb(39, 43, 51);
}

#card-full {
  max-width: 570px;
  color: white;
}

.card-body {
  background: rgba(60, 62, 68, 1);
}

i {
  font-size: 10px;
}

.text-secondary {
  color: #c5c8d1 !important;
}
@keyframes ledCharacters {
  0% {
    filter: drop-shadow(0 0 2px #ffffffaa);
  }
  75% {
    filter: drop-shadow(0 0 8px #ffffffaa);
  }
  100% {
    filter: drop-shadow(0 0 1px #ffffffaa 0.2);
  }
}

#characterImg {
  animation-name: ledCharacters;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#characterImg:hover {
  animation: none;
  filter: drop-shadow(0 0 9px #49f71e);
}
.text-primary {
  color: #2cb67d;
}

.bg-list {
  background-color: #ffffff00;
}

#imgSection {
  position: relative;
}

.image-section {
  position: relative; /* Establece la posición relativa para la sección */
}

.image {
  display: block; /* Establece la imagen como un elemento de bloque */
  width: 100%; /* Asegura que la imagen se ajuste al ancho de su contenedor */
  height: auto; /* Ajusta la altura de la imagen proporcionalmente */
}

.text-overlay {
  position: absolute; /* Establece la posición absoluta para la superposición de texto */
  top: 50%; /* Alinea el borde superior de la superposición de texto con el centro de la sección */
  left: 50%; /* Alinea el borde izquierdo de la superposición de texto con el centro de la sección */
  transform: translate(
    -50%,
    -50%
  ); /* Centra la superposición de texto en la sección */
  text-align: center; /* Centra el texto horizontalmente */
  color: white; /* Establece el color del texto en blanco */
}

#text-main {
  font-size: 60px;
  color: rgb(232, 232, 232);
}

#footer {
  color: white;
}
#api {
  text-decoration: none;
  color: rgb(255, 152, 0);
}
#api:hover {
  text-decoration: underline;
  text-decoration-color: rgb(60, 62, 68);
}
.bi-linkedin:hover {
  color: rgb(255, 152, 0);
}
.bi-github:hover {
  color: rgb(255, 152, 0);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    filter: drop-shadow(0 0 20px #17f025);
  }
  25% {
    filter: drop-shadow(0 0 10px #17f025);
  }
  50% {
    transform: rotate(180deg);
    filter: drop-shadow(0 0 20px #17f025);
  }
  75% {
    filter: drop-shadow(0 0 40px #17f025);
  }
  100% {
    filter: drop-shadow(0 0 20px #17f025);
    transform: rotate(360deg);
  }
}
#react-img {
  animation-name: rotate;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-fill-mode: forwards; */
}

::selection {
  background-color: rgb(32, 35, 41);
  color: rgb(255, 152, 0);
}
.head {
  background-color: rgb(32, 35, 41);
  /* background-size: auto; */
  /* background-position: center; */
  /* backgrkound-repeat: no-repeat; */
}

.portal {
  /* background-image: url("./assets/img/portal.png"); */
  animation-name: rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* position: relative; */
}
